<ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Schedule</a></li>
    <li routerLinkActive="active"><a routerLink="/table-management">Table Management</a></li>
    <li routerLinkActive="active"><a routerLink="/cost-management">Cost Management</a></li>
    <li routerLinkActive="active"><a routerLink="/notes">Notes</a></li>
    <li routerLinkActive="active"><a routerLink="/statistics">Statistics</a></li>
    <li routerLinkActive="active"><a routerLink="/auth">Login</a></li>
  </ul>