<div class="authComponent">

    <div class="authContainer">

        <div class="diamondLogo"><img src="assets/diamondLogo.png"></div>
        <div class="authBox">
        
            <div class="formBox">
                <h3><p>Provide credentials to access the system</p></h3>
                <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                    <div class="formGroup">
                        <input type="text" id='login' class="form-input" placeholder='login' ngModel name="login" required>
                        <label for="login" class="form-label">Login</label>
                    </div>
                    <div class="formGroup">
                        
                        <input type="password" id='password' class="form-input" placeholder='password' ngModel name="password" required>
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div>
                        <button class="form-button" type="submit">{{ isLoginMode ? 'Login' : 'Register Admin Account'}}</button> |
                        <button class="form-button" (click)='onSwitchMode()' type="button">{{ isLoginMode ? 'First Time Login' : 'Back to login'}}</button>
                        
                    </div>
                    
                    </form>
                    
                    <div class="error"  *ngIf="error">
                        <p>{{error}}</p>
                    </div>
            </div>

            

        </div>

    </div>

</div>