<div class="notesComponent">

    <div class="create-note-zone">
        <div class="alert alert-danger"  *ngIf="error">
            <p>{{error}}</p>
        </div>
            <form  #authForm="ngForm" (ngSubmit)="onCreateNote(authForm)">
                <div class="form-group">
                    <input type="text" id='note' class="form-control" ngModel name="note" placeholder="Note content..." required>
                </div>
                
                <div class="form-buttons">
                    <button class="form-button" type="submit">Create Note</button>
                </div> 
            </form>
    </div>
    
    <div class ='notes-zone'>
        <p *ngIf="loadedNotes.length <1">No notes available!</p>

        <app-note *ngFor="let note of loadedNotes" [targetNote]="note"></app-note>

    </div>

    

</div>    