<div class="tableComponent">

    <div class="icon"><img src="assets/table.png"></div>

    <div class="tableContent">
        <div *ngIf="!isEdited">{{targetTable.name}}</div> 
        <div *ngIf="!isEdited">{{targetTable.description}}</div> 
        <div *ngIf="isEdited"><input type="text" class="editInput" value={{targetTable.name}} #newTableName></div>
        <div *ngIf="isEdited"><input type="text" class="editInput" value={{targetTable.description}} #newTableDesc></div>

    </div>

    <div class ='prizeContent'>
        Assigned Cost:
        <div *ngIf="!isEdited">{{targetTable.costId}}</div>
        <div *ngIf="isEdited">
            <input list="costs" placeholder="Cost" class='editInput' value={{targetTable.costId}} #newTableCost>
            <datalist id="costs">
                <option *ngFor="let cost of loadedCosts" value={{cost.id}}>{{cost.name}}</option>
            </datalist>
        
        </div>
    
    </div>

    <div class="buttons-line" >
        <button class='edit' (click)="allowEdit()" *ngIf="!isEdited">Edit</button>
        <button class="delete" (click)="onDeleteTable(targetTable.id)" *ngIf="!isEdited">Delete</button>
        <button class='save' (click)="onEditTable()" *ngIf="isEdited">Save</button>
        <button class='delete' (click)="onCancel()" *ngIf="isEdited">Cancel</button>
    </div>




</div>