<div class="statisticsComponent">

    <div class="statsBoxLeft">
        <div class="statsTitle"><h2>Daily Stats</h2></div>
        <div class="stat-item">Earned in total</div>
        <div class="stat-item">Currently taken tables</div>
        <div class="stat-item">Currently free tables</div>
        <div class="stat-item">No. of reservations</div>
        <div class="stat-item">Walk in</div>
        <div class="stat-item">Phone</div>
        <div class="stat-item">Online</div>
    </div>

    <div class="statsBoxRight">
        <div class="statsTitle"><h2>Weekly Stats</h2></div>

        <div class="stat-item">Earned in total</div>
        <div class="stat-item">No. of reservations</div>
        <div class="stat-item">Walk in</div>
        <div class="stat-item">Phone</div>
        <div class="stat-item">Online</div>
    </div>

</div>
