.statisticsComponent{
        height:90vh;
        width:100vw;
        position: relative;
    
}

.statsMain{
    height: 100%;
    width:80%;
    float:left
}

.statsDesc{
    height: 98%;
    margin-top:2%;
    width:20%;
    float:right;
    border-left: 3px solid #bbb;
    padding-left:1%;
    padding-right: 1%;
}