<div class="statisticsComponent">

   <div class="statsMain">
        <div class="stat-topic">
        Reservations:
        </div>
         <div class="stat-space">
            <div class="stat-field-reservations">
                <p class="stat-field-title">Number of reservations this day:</p>
                <h1 class="stat-field-value">8</h1>
            </div>
            <div class="stat-field-reservations">
                <p class="stat-field-title">Number of reservations this week:</p>
                <h1 class="stat-field-value">45</h1>
            </div>
            <div class="stat-field-reservations">
                <p class="stat-field-title">Avg. number of reservation per day:</p>
                <h1 class="stat-field-value">9.1</h1>
            </div>
            
            <div class="stat-field-reservations online">
                <p class="stat-field-title">Online:</p>
                <h1 class="stat-field-value">2</h1>
            </div>
            <div class="stat-field-reservations phone">
                <p class="stat-field-title">Phone:</p>
                <h1 class="stat-field-value">1</h1>
            </div>
            <div class="stat-field-reservations desk">
                <p class="stat-field-title">At paydesk:</p>
                <h1 class="stat-field-value">5</h1>
            </div>
            
        </div>
        <div class="stat-topic">
            Money:
        </div>
        <div class="stat-space">
            <div class="stat-space">
                <div class="stat-field-money">
                    <p class="stat-field-title">Money earned this day (zl):</p>
                    <h1 class="stat-field-value">479.92 zł</h1>
                </div>
                <div class="stat-field-money">
                    <p class="stat-field-title">Amount of money earned this week (zl):</p>
                    <h1 class="stat-field-value">9220.41 zł</h1>
                </div>
                <div class="stat-field-money">
                    <p class="stat-field-title">Avearage. earnings per day (zl):</p>
                    <h1 class="stat-field-value">1766.54 zł</h1>
                </div>
            </div>

        </div>
        <div class="stat-space-left">
            <div class="stat-topic">
                Tables:
            </div>

            <div class="stat-field-table">
                <p class="stat-field-title">Currently taken tables:</p>
                <h1 class="stat-field-value">3</h1>
            </div>

            <div class="stat-field-table">
                <p class="stat-field-title">Currently free Tables:</p>
                <h1 class="stat-field-value">5</h1>
            </div>

            <div class="stat-field-table">
                <p class="stat-field-title">Most liked table this day:</p>
                <h1 class="stat-field-value">Table 3</h1>
            </div>

            <div class="stat-field-table">
                <p class="stat-field-title">Most liked table this week:</p>
                <h1 class="stat-field-value">Table 3</h1>
            </div>

            <div class="stat-topic">
                List of taken tables:
            </div>
            <div class="table-list">Table 1 , Table 3 , Table 5</div>
            <br>
            <div class="stat-topic">
                List of free tables:
            </div>
            
            <div class="table-list">Table 2 , Table 4 , Table 6, Table 7, VIP Table</div>

        </div>

        <div class="stat-space-right">
            <div class="stat-topic">
                Time:
            </div>

            <div class="stat-field-time">
                <p class="stat-field-title">Avearage time of reservation:</p>
                <h1 class="stat-field-value">1h 55min</h1>
            </div>

            <div class="stat-field-time">
                <p class="stat-field-title">Time of reservations this day</p>
                <h1 class="stat-field-value">8h 00min</h1>
            </div>

            <div class="stat-field-time">
                <p class="stat-field-title">Time of reservation this week:</p>
                <h1 class="stat-field-value">68h00min</h1>
            </div>


        </div>
        

   </div>

   <div class ='statsDesc'>
    <h1>Statistics</h1>
    <p>Here you can view overall stats such as number of reservations for day or week, see the amout of money earned for reservations and see some details regarding tables and time of reservations </p>
    <p>You can also see what tables are currently free or taken.</p>
</div>


</div>
